@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

button[type="submit"] {
  @apply px-4 py-2 bg-indigo-200 text-indigo-950 tracking-wide font-semibold rounded outline-none active:bg-indigo-300  focus:bg-indigo-300 hover:bg-indigo-300 ease-in duration-300 disabled:hover:bg-indigo-200 disabled:outline-none focus:outline-indigo-700 -outline-offset-1 disabled:opacity-80;
}

input,
select,
textarea {
  @apply rounded p-1 outline-none font-normal text-slate-600 bg-slate-200 outline outline-2 -outline-offset-1 hover:outline-indigo-400 active:outline-indigo-500 focus:outline-indigo-500 w-full disabled:hover:outline-none read-only:opacity-70 disabled:opacity-70 read-only:hover:outline-none read-only:focus:outline-none;
}

input[type="file"] {
  @apply block w-full text-sm text-slate-500
      file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-0
      file:text-sm file:font-semibold
      file:bg-indigo-50 file:text-indigo-700
      hover:file:bg-indigo-100 hover:file:cursor-pointer cursor-pointer bg-inherit disabled:hover:outline-none -outline-offset-1 hover:outline-indigo-400 active:outline-indigo-500 focus:outline-indigo-500;
}

input[type="checkbox"] {
  @apply w-auto;
}

button {
  @apply bg-indigo-100 rounded px-4 py-2 flex items-center gap-2 hover:bg-indigo-50 text-indigo-900 font-semibold tracking-wide;
}

label {
  @apply font-semibold;
}

.navLink {
  @apply rounded px-4 py-2 flex items-center gap-2 hover:bg-indigo-50 hover:text-indigo-800;
}

.activeNavLink {
  @apply bg-indigo-100 text-indigo-800;
}

.userItem,
.instanceItem {
  @apply rounded p-2 cursor-pointer hover:bg-indigo-200 focus:bg-indigo-300 active:bg-indigo-300;
}

.searchBar {
  @apply flex gap-2 items-center border-2 border-slate-200 rounded-lg p-1 group-hover:border-slate-300 group-focus:border-slate-400 group-active:border-slate-400 w-full;
}

.searchBar > input {
  @apply bg-white text-sm outline-none hover:outline-none focus:outline-none active:outline-none;
}

.formHeader {
  @apply text-center font-bold text-3xl  text-slate-700 pb-12;
}

.section {
  @apply bg-white rounded-2xl p-8 my-4;
}

.main {
  @apply w-2/3 mx-auto;
}

.button {
  @apply bg-indigo-200 px-4 py-2 rounded text-indigo-900 font-semibold tracking-wide;
}

.card {
  @apply bg-white rounded-lg w-48 h-44 p-4 grid;
}

h2 {
  @apply text-xl font-bold text-slate-700 p-2;
}

h3 {
  @apply text-lg font-semibold text-slate-700;
}

/* PAGINATOR DIV - TO PLACE NUMBERS INLINE*/
body
  > div.grid.grid-cols-6
  > section
  > main
  > section
  > div
  > div.p-paginator.p-component.p-paginator-bottom
  > span {
  @apply flex;
}

/* PAGINATOR DIV - TO PLACE NUMBERS IN CENTER*/
body > div.grid.grid-cols-6 > section > main > section > div > div {
  @apply flex justify-center;
}

/* PAGINATOR DIV - TO PLACE NUMBERS IN CENTER*/
body
  > div.grid.grid-cols-6
  > section
  > main
  > section
  > div
  > div.p-datatable-wrapper
  > table
  > thead
  > tr
  > th.w-\[25\%\].px-2.p-sortable-column
  > div {
  @apply flex gap-3 items-center justify-center;
}

/* FOR HEADER AND FOOTER */
body
  > div.grid.grid-cols-6
  > section
  > main
  > section
  > div
  > div.p-datatable-wrapper
  > table
  > thead,
body
  > div.grid.grid-cols-6
  > section
  > main
  > section
  > div
  > div.p-paginator.p-component.p-paginator-bottom {
  @apply bg-indigo-50 text-indigo-900 rounded-b-lg text-lg;
}

/* FOR FOOTER */
body
  > div.grid.grid-cols-6
  > section
  > main
  > section
  > div
  > div.p-paginator.p-component.p-paginator-bottom {
  @apply text-sm mt-1;
}
/* TO GIVE FULL SIZE FOR TABLE */
body
  > div.grid.grid-cols-6
  > section
  > main
  > section
  > div
  > div.p-datatable-wrapper
  > table {
  @apply w-full;
}

body
  > div.grid.grid-cols-6
  > section
  > main
  > section
  > div
  > div.p-datatable-wrapper
  > table
  > tbody
  > tr {
  @apply border-b-2 border-indigo-50 my-1;
}
